.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn-container {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}

.btn {
  margin: 1rem 0 0 1rem;
}


