/* Global Non-Specific */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ========== App Component ========== */
/* =================================== */
.App__navBar_padding {
  padding-left: 0.5rem;
  color: #f7f0f0;
}

.App__navBar {
  display: flex;
  align-items: center;
  background-color: grey;
  padding: 0.75rem;
}

.App__navBar_userLoggedIn {
  margin: 0 1rem;
  color: #0d1321;
}

#App__navBar_logout-btn {
  margin: 0 1rem;
  padding: 0.15rem 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
}

/* ========== Login Form ========== */
/* ================================ */
.LoginForm__formContainer {
  padding: 1rem;
}

.LoginForm__formContainer input {
  margin: 0.25rem;
}

.LoginForm__formContainer button {
  margin: 0.25rem 0 0 0rem;
}

.App__Togglable__loginToggle {
  padding: 1rem;
}

#App__Togglable__login-cancel-btn {
  margin-left: 1rem;
}

/* ========== Logout ========== */
/* ============================ */
#App__navBar_logout-btn {
  display: inline;
}

.App__navBar_userLoggedIn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* ========== Blog Form ========== */
/* =============================== */
.BlogForm__formContainer__title {
  position: relative;
  left: 50px;
  margin-bottom: 0.5rem;
}
.BlogForm__formContainer {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.BlogForm__formContainer form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 13rem;
}
.BlogForm__formContainer__form-fields {
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.1rem;
}

.BlogForm__formContainer input {
  margin-left: 1rem;
  justify-self: flex-end;
}

/* Users */
.Users__pageWrapper {
  margin: 1rem;
}

.Users__pageWrapper__userBlogs,
.Users__pageWrapper__userTitle {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}

.Users__pageWrapper__userTitle-container {
  display: flex;
}

/* Single_Blogs */

.SingleBlog__mainContainer {
  margin: 1rem;
}

.SingleBlog__mainContainer__user {
  margin: 1rem 0;
}
.SingleBlog__mainContainer__title {
  padding: 0.5rem 0 0.5rem 0;
}

.SingleBlog__mainContainer__url {
  padding: 0 0 0.5rem 0;
  /* border: 1px solid red; */
}

.SingleBlog__mainContainer__likesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 6.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

.SingleBlog__mainContainer__like_btn button {
  border-radius: 5px;
  border: 1px solid black;
}

.SingleBlog__mainContainer__like_btn {
  padding: 0.05rem 0.35rem;
}

.SingleBlog__mainContainer__remove_btn {
  padding: 0.05rem 0.35rem;
}

#new_blog_button {
  margin: 0.5rem 0 0 1rem;
}

.SingleBlog__mainContainer__comments {
  margin: 0 1rem;
}

/* ========== Notifications ========== */
/* =================================== */
.errorMsg {
  padding-left: 1rem;
  margin-bottom: 1rem;
  color: red;
  border: 5px solid red;
  border-radius: 10px;
}

.successMsg {
  padding-left: 1rem;
  margin-bottom: 1rem;
  color: green;
  border: 5px solid green;
  border-radius: 10px;
}
